<!DOCTYPE html>
<html ng-app="app">
 <head>
   <meta charset="utf-8">
      <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
   <title></title>
 </head>
 <body ng-controller="phoneBookCtrl">
   <input type="text" name="" value="" ng-model="filter.first_name" placeholder="First Name">
   <input type="text" name="" value="" ng-model="filter.ph_number" placeholder="Phone Number">
   <div class="">
     <hr>
     <input type="text" ng-model="newContact.first_name" placeholder="first_name" name="" value="">
     <input type="text" ng-model="newContact.last_name" placeholder="last_name" name="" value="">
     <input type="text" ng-model="newContact.email" placeholder="email" name="" value="">
     <input type="text" ng-model="newContact.ph_number" placeholder="ph_number" name="" value="">
     <input type="text" ng-model="newContact.address" placeholder="address" name="" value="">
     <input type="text" ng-model="newContact.city" placeholder="city" name="" value="">
   </div>
   <div ng-repeat="person in people | filter: filter">
     Name: {{ person.first_name }} {{person.last_name}} <br>
     Email: {{ person.email }} <br>
     Phone: {{ person.ph_number }} <br>
     Address: {{ person.address }}  {{ person.city }} <br>
     <hr>
   </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
<script src="./js/app.js"></script>
<script src="./js/ctrl.js"></script>
<script src="./js/service.js"></script>
</body>
</html>
